<footer>
    <div class="foot" style="position: fixed; bottom: 0px; z-index: 2000; width: 100%;">

<!-- Navbar -->
<div class="navbar">

  <a href="/alloperatorynethistory" class="nav-item"><i class="fa fa-dice"></i>Live Bets</a>
  <a href="/agentpaneldashboard" class="nav-item active"><i class="fa fa-home"></i>Home</a>
  <a href="/account" class="nav-item"><i class="fa fa-user"></i>Account</a>
  
</div>
    </div>
</footer>