<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matka  69</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <link rel="stylesheet" href="css/headerlogin.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/adminDasebord.css">


    <script src="https://cdn.tailwindcss.com"></script>
    <script src="js/rendomsidebar.js"></script>
    <script src="js/betbox.js"></script>
    <script src="js/footer.js"></script>
</head>
<body>

    
    <!-- ==================================================Header======================================= -->

   <%- include('partials/header') %>

   <div class="header"></div>  <!-- ========================= overflow header solve -->

<div class="main">
  <div class="container">  
  <div class="tile">
    <a href="userdownline.html"> 
      <div class="icon-square">
        <img src="images/adimages/allusers.png" alt="">
      </div>
      <div class="label">User List</div>
      </a>
    </div>

    <div class="tile">
      <div class="icon-square">
        <img src="images/adimages/masterlist.jpg" alt="">
      </div>
      <div class="label">Master List</div>
    </div>

    <div class="tile">
      <div class="icon-square">
        <img src="images/adimages/agentlist.jpg" alt="">
      </div>
      <div class="label">Agent List</div>
    </div>

    <div class="tile">
      <div class="icon-square">
        <img src="images/adimages/accountstatement.png" alt="">
      </div>
      <div class="label">Account<br>Stament</div>
    </div>

    <div class="tile">
      <div class="icon-square">
        <img src="images/adimages/livebets.png" alt="">
      </div>
      <div class="label">Live Bets</div>
    </div>

    <div class="tile">
      <div class="icon-square">
        <img src="images/adimages/report.png" alt="">
      </div>
      <div class="label">My Report</div>
    </div>

    <div class="tile">
      <div class="icon-square">
        <img src="images/adimages/manage.png" alt="">
      </div>
      <div class="label">Manage</div>
    </div>

    <div class="tile">
<a href="declare.html">
          <div class="icon-square">
        <img src="images/adimages/declare.png" alt="">
      </div>
      <div class="label">Declare</div>
</a>
    </div>

    <div class="tile">
  <a href="/logout">
        <div class="icon-square">
        <img src="images/adimages/logout.png" alt="">
      </div>
      <div class="label">Logout</div>
    </div>
  </div>
  </a>
  </div>


   
<!-- =================================== Footer Start ============================== -->
<%- include('partials/adminFooter') %>
    
</body>
</html>