<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Matka 69</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />

    <link rel="stylesheet" href="css/headerlogin.css" />
    <link rel="stylesheet" href="css/footer.css" />
    <link rel="stylesheet" href="css/declare.css" />

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="js/rendomsidebar.js"></script>
    <script src="js/betbox.js"></script>
    <script src="js/footer.js"></script>
  </head>
  <body>
    <!-- ==================================================Header======================================= -->

   
   <%- include('partials/header') %>
    <!-- ======================================================= Body is here ============================================== -->

    <div class="bmain">
      <div class="main">
        <div class="patti-bar" style="margin-bottom: 1rem">SINGLE</div>
        <!-- First Row -->
        <div class="row">
          <div class="box">
            <div class="number-box">1</div>
            <div class="price-box">105.00</div>
          </div>
          <div class="box">
            <div class="number-box">2</div>
            <div class="price-box">105.00</div>
          </div>
          <div class="box">
            <div class="number-box">3</div>
            <div class="price-box">105.00</div>
          </div>
          <div class="box">
            <div class="number-box">4</div>
            <div class="price-box">105.00</div>
          </div>
          <div class="box">
            <div class="number-box">5</div>
            <div class="price-box">105.00</div>
          </div>
        </div>

        <!-- Second Row -->
        <div class="row">
          <div class="box">
            <div class="number-box">6</div>
            <div class="price-box">105.00</div>
          </div>
          <div class="box">
            <div class="number-box">7</div>
            <div class="price-box">105.00</div>
          </div>
          <div class="box">
            <div class="number-box">8</div>
            <div class="price-box">105.00</div>
          </div>
          <div class="box">
            <div class="number-box">9</div>
            <div class="price-box">105.00</div>
          </div>
          <div class="box">
            <div class="number-box">0</div>
            <div class="price-box">105.00</div>
          </div>
        </div>

        <div class="val">
          <div class="form-container">
            <input type="text" placeholder="Single Patti..." required />
            <button class="btno">Submit</button>
          </div>
        </div>
      </div>

      <div class="aa">
        <div class="scroll-wrapper">
          <div class="container">
            <!-- Top Number Row -->
            <div class="row">
              <div class="number-box">1</div>
              <div class="number-box">2</div>
              <div class="number-box">3</div>
              <div class="number-box">4</div>
              <div class="number-box">5</div>
              <div class="number-box">6</div>
              <div class="number-box">7</div>
              <div class="number-box">8</div>
              <div class="number-box">9</div>
              <div class="number-box">0</div>
            </div>

            <!-- Patti Bar -->
            <div class="patti-bar">PATTI</div>

            <!-- Bottom Number Row -->
            <div class="row">
              <div>
                <div class="number-box" id="one">100</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="two">200</div>
                <div class="price-box">10.00</div>
              </div>

              <div>
                <div class="number-box" id="three">300</div>
                <div class="price-box">805.00</div>
              </div>

              <div>
                <div class="number-box" id="four">400</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="five">500</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="six">600</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="seven">700</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="eight">800</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="nine">900</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="zero">000</div>
                <div class="price-box">105.00</div>
              </div>
            </div>

            <!-- Bottom Number Row -->
            <div class="row">
              <div>
                <div class="number-box" id="one">678</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="two">345</div>
                <div class="price-box">10.00</div>
              </div>

              <div>
                <div class="number-box" id="three">120</div>
                <div class="price-box">805.00</div>
              </div>

              <div>
                <div class="number-box" id="four">789</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="five">456</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="six">123</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="seven">890</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="eight">567</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="nine">234</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="zero">127</div>
                <div class="price-box">105.00</div>
              </div>
            </div>

            <!-- Bottom Number Row -->
            <div class="row">
              <div>
                <div class="number-box" id="one">777</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="two">444</div>
                <div class="price-box">10.00</div>
              </div>

              <div>
                <div class="number-box" id="three">111</div>
                <div class="price-box">805.00</div>
              </div>

              <div>
                <div class="number-box" id="four">888</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="five">555</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="six">222</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="seven">999</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="eight">666</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="nine">333</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="zero">190</div>
                <div class="price-box">105.00</div>
              </div>
            </div>

            <!-- Bottom Number Row -->
            <div class="row">
              <div>
                <div class="number-box" id="one">560</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="two">570</div>
                <div class="price-box">10.00</div>
              </div>

              <div>
                <div class="number-box" id="three">580</div>
                <div class="price-box">805.00</div>
              </div>

              <div>
                <div class="number-box" id="four">590</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="five">140</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="six">150</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="seven">160</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="eight">170</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="nine">180</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="zero">280</div>
                <div class="price-box">105.00</div>
              </div>
            </div>

            <!-- Bottom Number Row -->
            <div class="row">
              <div>
                <div class="number-box" id="one">470</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="two">480</div>
                <div class="price-box">10.00</div>
              </div>

              <div>
                <div class="number-box" id="three">490</div>
                <div class="price-box">805.00</div>
              </div>

              <div>
                <div class="number-box" id="four">130</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="five">230</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="six">330</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="seven">340</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="eight">350</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="nine">360</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="zero">370</div>
                <div class="price-box">105.00</div>
              </div>
            </div>

            <!-- Bottom Number Row -->
            <div class="row">
              <div>
                <div class="number-box" id="one">380</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="two">390</div>
                <div class="price-box">10.00</div>
              </div>

              <div>
                <div class="number-box" id="three">670</div>
                <div class="price-box">805.00</div>
              </div>

              <div>
                <div class="number-box" id="four">680</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="five">690</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="six">240</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="seven">250</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="eight">260</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="nine">270</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="zero">460</div>
                <div class="price-box">105.00</div>
              </div>
            </div>

            <!-- Bottom Number Row -->
            <div class="row">
              <div>
                <div class="number-box" id="one">290</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="two">660</div>
                <div class="price-box">10.00</div>
              </div>

              <div>
                <div class="number-box" id="three">238</div>
                <div class="price-box">805.00</div>
              </div>

              <div>
                <div class="number-box" id="four">248</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="five">258</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="six">268</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="seven">278</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="eight">288</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="nine">450</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="zero">550</div>
                <div class="price-box">105.00</div>
              </div>
            </div>

            <!-- Bottom Number Row -->
            <div class="row">
              <div>
                <div class="number-box" id="one">119</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="two">129</div>
                <div class="price-box">10.00</div>
              </div>

              <div>
                <div class="number-box" id="three">139</div>
                <div class="price-box">805.00</div>
              </div>

              <div>
                <div class="number-box" id="four">149</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="five">159</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="six">169</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="seven">179</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="eight">189</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="nine">199</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="zero">235</div>
                <div class="price-box">105.00</div>
              </div>
            </div>

            <!-- Bottom Number Row -->
            <div class="row">
              <div>
                <div class="number-box" id="one">137</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="two">237</div>
                <div class="price-box">10.00</div>
              </div>

              <div>
                <div class="number-box" id="three">337</div>
                <div class="price-box">805.00</div>
              </div>

              <div>
                <div class="number-box" id="four">347</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="five">357</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="six">367</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="seven">377</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="eight">116</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="nine">117</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="zero">118</div>
                <div class="price-box">105.00</div>
              </div>
            </div>

            <!-- Bottom Number Row -->
            <div class="row">
              <div>
                <div class="number-box" id="one">236</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="two">336</div>
                <div class="price-box">10.00</div>
              </div>

              <div>
                <div class="number-box" id="three">157</div>
                <div class="price-box">805.00</div>
              </div>

              <div>
                <div class="number-box" id="four">158</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="five">799</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="six">448</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="seven">467</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="eight">233</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="nine">469</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="zero">578</div>
                <div class="price-box">105.00</div>
              </div>
            </div>

            <!-- Bottom Number Row -->
            <div class="row">
              <div>
                <div class="number-box" id="one">146</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="two">246</div>
                <div class="price-box">10.00</div>
              </div>

              <div>
                <div class="number-box" id="three">346</div>
                <div class="price-box">805.00</div>
              </div>

              <div>
                <div class="number-box" id="four">446</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="five">267</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="six">899</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="seven">115</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="eight">459</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="nine">126</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="zero">145</div>
                <div class="price-box">105.00</div>
              </div>
            </div>

            <!-- Bottom Number Row -->
            <div class="row">
              <div>
                <div class="number-box" id="one">669</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="two">679</div>
                <div class="price-box">10.00</div>
              </div>

              <div>
                <div class="number-box" id="three">689</div>
                <div class="price-box">805.00</div>
              </div>

              <div>
                <div class="number-box" id="four">699</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="five">780</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="six">178</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="seven">124</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="eight">125</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="nine">667</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="zero">479</div>
                <div class="price-box">105.00</div>
              </div>
            </div>

            <!-- Bottom Number Row -->
            <div class="row">
              <div>
                <div class="number-box" id="one">579</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="two">255</div>
                <div class="price-box">10.00</div>
              </div>

              <div>
                <div class="number-box" id="three">355</div>
                <div class="price-box">805.00</div>
              </div>

              <div>
                <div class="number-box" id="four">455</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="five">447</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="six">790</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="seven">223</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="eight">224</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="nine">478</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="zero">668</div>
                <div class="price-box">105.00</div>
              </div>
            </div>

            <!-- Bottom Number Row -->
            <div class="row">
              <div>
                <div class="number-box" id="one">399</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="two">147</div>
                <div class="price-box">10.00</div>
              </div>

              <div>
                <div class="number-box" id="three">247</div>
                <div class="price-box">805.00</div>
              </div>

              <div>
                <div class="number-box" id="four">266</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="five">366</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="six">466</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="seven">566</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="eight">477</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="nine">135</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="zero">299</div>
                <div class="price-box">105.00</div>
              </div>
            </div>

            <!-- Bottom Number Row -->
            <div class="row">
              <div>
                <div class="number-box" id="one">588</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="two">228</div>
                <div class="price-box">10.00</div>
              </div>

              <div>
                <div class="number-box" id="three">256</div>
                <div class="price-box">805.00</div>
              </div>

              <div>
                <div class="number-box" id="four">112</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="five">113</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="six">358</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="seven">557</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="eight">990</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="nine">225</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="zero">334</div>
                <div class="price-box">105.00</div>
              </div>
            </div>

            <!-- Bottom Number Row -->
            <div class="row">
              <div>
                <div class="number-box" id="one">489</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="two">499</div>
                <div class="price-box">10.00</div>
              </div>

              <div>
                <div class="number-box" id="three">166</div>
                <div class="price-box">805.00</div>
              </div>

              <div>
                <div class="number-box" id="four">356</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="five">122</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="six">880</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="seven">368</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="eight">134</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="nine">144</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="zero">488</div>
                <div class="price-box">105.00</div>
              </div>
            </div>

            <!-- Bottom Number Row -->
            <div class="row">
              <div>
                <div class="number-box" id="one">245</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="two">688</div>
                <div class="price-box">10.00</div>
              </div>

              <div>
                <div class="number-box" id="three">599</div>
                <div class="price-box">805.00</div>
              </div>

              <div>
                <div class="number-box" id="four">239</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="five">177</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="six">114</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="seven">359</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="eight">558</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="nine">379</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="zero">389</div>
                <div class="price-box">105.00</div>
              </div>
            </div>

            <!-- Bottom Number Row -->
            <div class="row">
              <div>
                <div class="number-box" id="one">155</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="two">778</div>
                <div class="price-box">10.00</div>
              </div>

              <div>
                <div class="number-box" id="three">148</div>
                <div class="price-box">805.00</div>
              </div>

              <div>
                <div class="number-box" id="four">338</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="five">249</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="six">556</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="seven">449</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="eight">369</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="nine">559</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="zero">226</div>
                <div class="price-box">105.00</div>
              </div>
            </div>

            <!-- Bottom Number Row -->
            <div class="row">
              <div>
                <div class="number-box" id="one">227</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="two">138</div>
                <div class="price-box">10.00</div>
              </div>

              <div>
                <div class="number-box" id="three">788</div>
                <div class="price-box">805.00</div>
              </div>

              <div>
                <div class="number-box" id="four">257</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="five">339</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="six">259</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="seven">269</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="eight">378</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="nine">289</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="zero">569</div>
                <div class="price-box">105.00</div>
              </div>
            </div>

            <!-- Bottom Number Row -->
            <div class="row">
              <div>
                <div class="number-box" id="one">344</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="two">156</div>
                <div class="price-box">10.00</div>
              </div>

              <div>
                <div class="number-box" id="three">445</div>
                <div class="price-box">805.00</div>
              </div>

              <div>
                <div class="number-box" id="four">220</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="five">889</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="six">349</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="seven">133</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="eight">440</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="nine">388</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="zero">677</div>
                <div class="price-box">105.00</div>
              </div>
            </div>

            <!-- Bottom Number Row -->
            <div class="row">
              <div>
                <div class="number-box" id="one">335</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="two">110</div>
                <div class="price-box">10.00</div>
              </div>

              <div>
                <div class="number-box" id="three">229</div>
                <div class="price-box">805.00</div>
              </div>

              <div>
                <div class="number-box" id="four">770</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="five">348</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="six">457</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="seven">188</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="eight">279</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="nine">577</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="zero">136</div>
                <div class="price-box">105.00</div>
              </div>
            </div>

            <!-- Bottom Number Row -->
            <div class="row">
              <div>
                <div class="number-box" id="one">128</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="two">589</div>
                <div class="price-box">10.00</div>
              </div>

              <div>
                <div class="number-box" id="three">779</div>
                <div class="price-box">805.00</div>
              </div>

              <div>
                <div class="number-box" id="four">167</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="five">168</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="six">277</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="seven">458</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="eight">468</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="nine">568</div>
                <div class="price-box">105.00</div>
              </div>

              <div>
                <div class="number-box" id="zero">244</div>
                <div class="price-box">105.00</div>
              </div>
            </div>

            <div class="val">
              <div class="form-container">
                <form action="#">
                  <input type="text" placeholder="Single Patti..." required />
                  <button class="btno">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- =================================== Footer Start ============================== -->
<%- include('partials/adminFooter') %>

    <!-- =================================== Footer End ============================== -->
  </body>
</html>
