<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matka  69</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  
    <link rel="stylesheet" href="css/headerlogin.css">
    <link rel="stylesheet" href="css/userbody.css">
    <link rel="stylesheet" href="css/slider.css">
    <link rel="stylesheet" href="css/footer.css">
    


    <script src="https://cdn.tailwindcss.com"></script>
    <script src="js/rendomsidebar.js"></script>
    <!-- <script src="js/footer.js"></script> -->
      <script
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
      defer
    ></script>
</head>
<body>


    <!-- ==================================================Header======================================= -->
 <%- include('partials/header') %>




   <div class="header"></div>  <!-- ========================= overflow header solve -->


<!-- +++++++++++++++++++++++++++  Slider Banner +++++++++++++++++++++++ -->
 <div class="mbanner">
 

    <div class=" mx-auto">
        
        <!-- Banner Wrapper -->
        <div class="banner-container shadow-3xl">
            
            <!-- Slide 1 -->
            <div class="banner-slide active" data-index="0">
                <img src="images/egaming1.png" 
                     class="w-full h-full object-cover" 
                     alt="Placeholder Image 1: Feature A">
            </div>

            <!-- Slide 2 -->
            <div class="banner-slide" data-index="1">
                <img src="images/egaming2.png" 
                     class="w-full h-full object-cover" 
                     alt="Placeholder Image 2: Feature B">
            </div>

            <!-- Slide 3 -->
            <div class="banner-slide" data-index="2">
                <img src="images/egaming3.png" 
                     class="w-full h-full object-cover" 
                     alt="Placeholder Image 3: Feature C">
            </div>


            <!-- Navigation Buttons -->
            <div class="absolute inset-0 flex items-center justify-between p-4 z-20">
                <button id="prevBtn" 
                        class="transition shadow-lg opacity-70 hover:opacity-100 disabled:opacity-30 disabled:cursor-not-allowed">
                </button>
                <button id="nextBtn" 
                        class=" transition shadow-lg opacity-70 hover:opacity-100 disabled:opacity-30 disabled:cursor-not-allowed">
                </button>
            </div>
            
        </div>
        
        <!-- Pagination Dots -->
        <div id="pagination" class="flex justify-center space-x-2 mt-4">
            <!-- Dots will be generated here by JS -->
        </div>
        
    </div>

</div>


<!-- +++++++++++++++++++++++++++ body stert +++++++++++++++++++++++ -->
<!-- ======================================================================================== For Desktop -->

<div class="maincontanerdes">

<div class="bodycontanerdes"> 

<div style="display: flex; justify-content: center; align-items: center;">
   <div class="catagourypt3tab">
         <div class="catagoury1"> E-Games</div>
   </div>
</div>


  <div class="allservicesdes" style="display: flex; justify-content: center; align-items: center; gap: 2rem;">
    <a href="checkenroad.html">
        <div class="eachservices" style="width: 21rem; padding: 1rem;">
        <div class="eachservices1">
            <div class="eachservices24"></div>
        </div>
        <div class="eachservices2">Checken Road</div>
        </div>
    </a>

    <a href="headtail.html">
        <div class="eachservices" style="width: 21rem;">
        <div class="eachservices1">
            <div class="eachservices25"></div>
        </div>
        <div class="eachservices2">Head & Tail</div>
        </div>
    </a>

    <a href="mines.html">
        <div class="eachservices" style="width: 21rem;">
        <div class="eachservices1">
            <div class="eachservices26"></div>
        </div>
        <div class="eachservices2">Mines</div>
        </div>
    </a>
</div>





<div style="display: flex; justify-content: center; align-items: center; height: 9rem; ">
   <div class="catagourypt3tab">
         <div class="catagoury1"> Live Matka</div>
   </div>
</div>


  <div class="allservicesdes" style="width: 95%; justify-content: center;">
    <a href="/livematka" style="display: flex; justify-content: center; align-items: center; padding: 1rem;">
        <div class="eachservices" style="width: 61rem;">
        <div class="eachservices1">
            <div class="eachservices27" ></div>
        </div>
        </div>
    </a>
  </div>




  <div style="display: flex; justify-content: center; align-items: center; margin-top: 3rem;">
   <div class="catagourypt3tab">
         <div class="catagoury1"> Casino</div>
   </div>
</div>


  <div class="allservicesdes" style="display: flex; justify-content: center; align-items: center; gap: 2rem;">
    <a href="teenpatti.html">
        <div class="eachservices" style="width: 21rem; padding: 1rem;" >
        <div class="eachservices1" >
            <div class="eachservices28"></div>
        </div>
        <div class="eachservices2">Teen Patti</div>
        </div>
    </a>

    <a href="drigontiger.html">
        <div class="eachservices" style="width: 21rem;">
        <div class="eachservices1">
            <div class="eachservices29"></div>
        </div>
        <div class="eachservices2">Drigion Tiger</div>
        </div>
    </a>

    <a href="7updown.html">
        <div class="eachservices" style="width: 21rem;">
        <div class="eachservices1">
            <div class="eachservices30"></div>
        </div>
        <div class="eachservices2">7 Up & Down</div>
        </div>
    </a>
</div>

  <div class="allservicesdes" style="display: flex; justify-content: center; align-items: center; gap: 2rem; margin-bottom: 8rem;">
    <a href="32cards.html">
        <div class="eachservices" style="width: 21rem;">
        <div class="eachservices1">
            <div class="eachservices31"></div>
        </div>
        <div class="eachservices2">32 Cards</div>
        </div>
    </a>

    <a href="bingo.html">
        <div class="eachservices" style="width: 21rem;">
        <div class="eachservices1">
            <div class="eachservices32"></div>
        </div>
        <div class="eachservices2">Bingo</div>
        </div>
    </a>

    <a href="aviator.html">
        <div class="eachservices" style="width: 21rem;">
        <div class="eachservices1">
            <div class="eachservices33"></div>
        </div>
        <div class="eachservices2">Aviator</div>
        </div>
    </a>
</div>

</div>
</div>
 
 <!-- ======================================================================================== For Tab -->

 
<div class="maincontanert">

<div class="bodycontanertab"> 

<div style="display: flex; justify-content: center; align-items: center;">
   <div class="catagourypt3tab">
         <div class="catagoury1"> E-Games</div>
   </div>
</div>


  <div class="allservicestab" style="display: flex; justify-content: center; align-items: center; gap: 2rem; padding: 1rem;">
    <a href="checkenroad.html">
        <div class="eachservices" style="width: 12rem;">
        <div class="eachservices1">
            <div class="eachservices34"></div>
        </div>
        <div class="eachservices2">Checken Road</div>
        </div>
    </a>

    <a href="headtail.html">
        <div class="eachservices" style="width: 12rem;">
        <div class="eachservices1">
            <div class="eachservices35"></div>
        </div>
        <div class="eachservices2">Head & Tail</div>
        </div>
    </a>

    <a href="mines.html">
        <div class="eachservices" style="width: 12rem;">
        <div class="eachservices1">
            <div class="eachservices36"></div>
        </div>
        <div class="eachservices2">Mines</div>
        </div>
    </a>
</div>





<div style="display: flex; justify-content: center; align-items: center;">
   <div class="catagourypt3tab">
         <div class="catagoury1"> Live Matka</div>
   </div>
</div>


  <div class="allservicestab" style="width: 100%; display: flex; justify-content: center;">
    <a href="/livematka" style="display: flex; justify-content: center; align-items: center; padding: 1rem;">
        <div class="eachservices" style="width: 40rem;">
        <div class="eachservices1">
            <div class="eachservices37" ></div>
        </div>
        </div>
    </a>
  </div>




  <div style="display: flex; justify-content: center; align-items: center;">
   <div class="catagourypt3tab">
         <div class="catagoury1"> Casino</div>
   </div>
</div>


  <div class="allservicestab" style="display: flex; justify-content: center; align-items: center; gap: 2rem; padding: 1rem;">
    <a href="teenpatti.html">
        <div class="eachservices" style="width: 12rem;" >
        <div class="eachservices1" >
            <div class="eachservices38"></div>
        </div>
        <div class="eachservices2">Teen Patti</div>
        </div>
    </a>

    <a href="drigontiger.html">
        <div class="eachservices" style="width: 12rem;">
        <div class="eachservices1">
            <div class="eachservices39"></div>
        </div>
        <div class="eachservices2">Drigion Tiger</div>
        </div>
    </a>

    <a href="7updown.html">
        <div class="eachservices" style="width: 12rem;">
        <div class="eachservices1">
            <div class="eachservices40"></div>
        </div>
        <div class="eachservices2">7 Up & Down</div>
        </div>
    </a>
</div>

  <div class="allservicestab" style="display: flex; justify-content: center; align-items: center; gap: 2rem; margin-bottom: 8rem;">
    <a href="32cards.html">
        <div class="eachservices" style="width: 12rem;">
        <div class="eachservices1">
            <div class="eachservices41"></div>
        </div>
        <div class="eachservices2">32 Cards</div>
        </div>
    </a>

    <a href="bingo.html">
        <div class="eachservices" style="width: 12rem;">
        <div class="eachservices1">
            <div class="eachservices42"></div>
        </div>
        <div class="eachservices2">Bingo</div>
        </div>
    </a>

    <a href="aviator.html">
        <div class="eachservices" style="width: 12rem;">
        <div class="eachservices1">
            <div class="eachservices43"></div>
        </div>
        <div class="eachservices2">Aviator</div>
        </div>
    </a>
</div>

</div>
</div>

<!-- ======================================================================================== For Mobile -->

<div class="maincontanermob">

<div class="bodycontanermob"> 

<div style="display: flex; justify-content: center; align-items: center;">
   <div class="catagourypt3tab">
         <div class="catagoury1"> E-Games</div>
   </div>
</div>


  <div class="allservicesmob">
    <a href="checkenroad.html">
        <div class="eachservices">
        <div class="eachservices1">
            <div class="eachservices14"></div>
        </div>
        <div class="eachservices2">Checken Road</div>
        </div>
    </a>

    <a href="/coin">
        <div class="eachservices">
        <div class="eachservices1">
            <div class="eachservices15"></div>
        </div>
        <div class="eachservices2">Head & Tail</div>
        </div>
    </a>

    <a href="mines.html">
        <div class="eachservices">
        <div class="eachservices1">
            <div class="eachservices16"></div>
        </div>
        <div class="eachservices2">Mines</div>
        </div>
    </a>
</div>





<div style="display: flex; justify-content: center; align-items: center;">
   <div class="catagourypt3tab">
         <div class="catagoury1"> Live Matka</div>
   </div>
</div>


  <div class="allservicesmob" style="width: 95%; justify-content: center;">
    <a href="/livematka">
        <div class="eachservices" style="width: 21rem;">
        <div class="eachservices1">
            <div class="eachservices17" ></div>
        </div>
        </div>
    </a>
  </div>




  <div style="display: flex; justify-content: center; align-items: center;">
   <div class="catagourypt3tab">
         <div class="catagoury1"> Casino</div>
   </div>
</div>


  <div class="allservicesmob">
    <a href="teenpatti.html">
        <div class="eachservices" >
        <div class="eachservices1" >
            <div class="eachservices18"></div>
        </div>
        <div class="eachservices2">Teen Patti</div>
        </div>
    </a>

    <a href="drigontiger.html">
        <div class="eachservices">
        <div class="eachservices1">
            <div class="eachservices19"></div>
        </div>
        <div class="eachservices2">Drigion Tiger</div>
        </div>
    </a>

    <a href="7updown.html">
        <div class="eachservices">
        <div class="eachservices1">
            <div class="eachservices20"></div>
        </div>
        <div class="eachservices2">7 Up & Down</div>
        </div>
    </a>
</div>

  <div class="allservicesmob" style="margin-bottom: 8rem;">
    <a href="32cards.html">
        <div class="eachservices">
        <div class="eachservices1">
            <div class="eachservices21"></div>
        </div>
        <div class="eachservices2">32 Cards</div>
        </div>
    </a>

    <a href="bingo.html">
        <div class="eachservices">
        <div class="eachservices1">
            <div class="eachservices22"></div>
        </div>
        <div class="eachservices2">Bingo</div>
        </div>
    </a>

    <a href="aviator.html">
        <div class="eachservices">
        <div class="eachservices1">
            <div class="eachservices23"></div>
        </div>
        <div class="eachservices2">Aviator</div>
        </div>
    </a>
</div>

</div>
</div>

<!-- =================================== Footer Start ============================== -->
<%- include('partials/footer') %>

</body>
</html>






